<div class="container">
  <div class="row">
    <div class="col-6">

      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div *ngFor="let item of formData1">
          <span>{{item.label}}</span>
          <div class="text-danger">
          <input *ngIf="
         [
           'text',
           'number',
           'radio',
           'email'
         ].includes(item.type)
       " [type]="item.type" [formControlName]="item.name" [value]="item.value" class="form-control">

          <textarea *ngIf="item.type === 'textarea'" [formControlName]="item.name" [value]="item.value" class="form-control"></textarea>
          <div *ngIf="form.get(item.name)?.invalid && form.get(item.name)?.touched" class="text-danger">
            <span *ngIf="form.get(item.name)?.hasError('required')">This field is required.</span>
          </div>
        </div><br>
      </div>
        <button class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</div>